# Created by venv; see https://docs.python.org/3/library/venv.html
*
# Git portable / exécutables
PortableGit*
*.exe
*.7z

# Python
__pycache__/
*.pyc

# Django
db.sqlite3
reload
static/admin/
static/rest_framework/
