<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title>Historique Humidité</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        body {
            font-family: Arial;
            padding: 20px;
            background: #f0f4f8;
        }

        a {
            color: #4da3ff;
            font-size: 18px;
        }

        h1 {
            text-align: center;
        }

        #chartContainer {
            width: 90%;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>

    <a href="/">← Retour au dashboard</a>
    <h1>Historique Humidité</h1>

    <div id="chartContainer">
        <canvas id="humChart"></canvas>
    </div>

    <script src="/static/js/graph_hum.js"></script>
</body>

</html>